<ifModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</ifModule>
# Redirect non-www urls to www
RewriteEngine on

RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
